.productMainWrapper{
    width: 90%;
    background-color: white;
    height: 290px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    margin: auto;
    margin-top: 5%;
    overflow: hidden;
    position: relative;
}
.heading{
  margin-left: -684px;
  font-size: 22px;
}

.imageContainer{
  width: 96%;
  height: 200px;
  display: flex;
 justify-content: space-around;
 align-content: center;
 gap: 20px;
overflow-y: scroll;

}
.img >img{
  width: 180px;
  height: 200px;
}
.PleftArrow,.PrightArrow{
  height: 100px;
  width: 60px;
  background-color: rgb(250, 252, 250);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 20px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  
}
.PleftArrow {
  position: absolute;
  left: -20px;
  top: 100px;
}


.PrightArrow {
  position: absolute;
  right: -20px;
  top: 100px;
}
@media screen and (max-width:980px){
  .heading{
    margin-left: 23px;
  }
}